body{ /* darle estilo al body*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}
.card { /*tamaño del card*/
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face { /* dar estilo al frente de la card*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front { /* dar estilo a la sombra del frente de la card*/
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img { /*dar estilo a la imagen*/
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{ /*dar estilo al titulo*/
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 45px;
 line-height: 45px;
 color: #fff;
 background: rgba(0, 0, 0, .4);
 text-align: center;
}
.card .back { /*dar estilo a la cara de atras de la card*/
    transform: perspective(600px) rotateY(180deg);
    background: rgba(216, 119, 172, 0.473);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link{ /* dar estilo al link contacto*/
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a {
color: #f3f3f3;
}
.card .back h3 {   /* estilo para el titulo*/
   font-size: 40px;
   margin-top: 20px;
   letter-spacing: 1px;
}
.card .back p { /* estilo para el parrafo*/
    letter-spacing: 1px;
}
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

 h1{
    color: rgb(216, 54, 194);

}